<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <title>LOGIN</title>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="login-hr">
                        <div class="login-box">
                            <h3 class="title has-text-white">Iniciar Sesión</h3>
                            <form action="/auth" method="POST">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" name="username" placeholder="Usuario"
                                            class="input is-rounded" autofocus>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input type="password" name="password" placeholder="Contraseña"
                                            class="input is-rounded">
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link">Ingresar</button>
                                    </div>
                                    <div class="control">
                                        <a href="/signup" class="button is-link is-light">Registrar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>