<div class="section">
    <div class="container">
            <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        ESTADO
                    </h1>
                </div>
            </div>
        </section>
        <form action="/petto/status/update/{{dato.id}}" method="POST">
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Nombre" name="name" value="{{dato.name}}">
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                    <input class="input" name="description" type="text" placeholder="" value="{{dato.description}}">
                </div>
            </div>


            <div class="field">
                <label class="label">Estado</label>
                <div class="control">
                    <input class="input" name="is_active" type="text" placeholder="" value="{{dato.is_active}}">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Guardar</button>
                </div>
                <div class="control">
                    <a href="/petto/status/" class="button is-link is-light">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>