<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <title>PETTO</title>
</head>

<body>
    {{> navbar }}
    <div class="columns">
        <div class="column is-one-fifth ">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    PETTO
                </p>
                <ul class="menu-list">
                    <li class="is-right"><a href="/petto/add" class="is-active">Nuevo Cliente</a></li>
                    <li class="is-right"><a href="/petto/" class="is-active"></i>Clientes</a></li>
                    <li><a href="/petto/patient/" class="is-active"></i>Pacientes</a></li>
                </ul>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li><span class="tag is-white is-medium">Servicios</span></li>
                    <li><span class="tag is-white is-medium">Productos</span></li>
                    <li><span class="tag is-white is-medium">Empleados</span></li>
                    <li><span class="tag is-white is-medium">Usuarios</span></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <section class="hero is-light welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Hello, Admin.
                        </h1>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Productos</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Servicios</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Prescripción</p>
                        </article>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="container is-widescreen column is-full">
                    {{{ body }}}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</body>

</html>